* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
}
#box {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(81, 217, 23);
  transition: all .1s linear;
}