* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    height: 90%;
    width: 350px;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0px 0px 25px gray;
    padding: 20px;
}
table {
    padding: 20px 0px;
}
h2 {
    text-align: center;
    font-size: 22px;
}
p {
    text-align: center;
    font-size: 12px;
}
input {
    height: 35px;
    width: 160px;
    border: 1px solid rgb(191, 190, 190);
    padding: 0px 10px;
    border-radius: 5px;
}

