* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 50px;
}
li {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}
.lt {
    text-decoration: line-through;
}